/*-- Reset --*/
html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
 
}

/*============= TOPBAR =============*/
.topbar-one {
  background: linear-gradient(to right, #fbfdfd, #145207);
  font-size: 1rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  display: flex;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.topbar-one a{
  color: black!important;
  margin-left: 25px;
}

.topbar-one a.active,
.topbar-one a:hover{
  color: #369af3!important;
}

.topbar-one_right a{
  float: right;
}


/*============= NAVIGATION =============*/

.navbar-brand img{
  height: 2.8rem;
}

.navbar{
  background: linear-gradient(to right, #f2f2f2, #fafafa);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.nav-item{
  padding: .4rem;
}


.nav-link{
  color: black!important;
}

.nav-link.active,
.nav-link:hover{
  color: #369af3!important;
}

/*============= END NAVIGATION =============*/


/* ============ NAVIGATION DROPDOWN ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ END NAVIGATION DROPDOWN ============ */


/*============= SEARCH BAR =============*/
.form-inline .form-control{
	width: 350px;
	margin-top: -11px;
	margin-bottom: -12px;
	
}

.form-inline .btn{
	
	padding: 6px 13px;
	margin-top: -7 !important;
	margin-bottom: -25 !important;
	margin-right: 20px;
	background: #33698f;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

/*============= END SEARCH BAR =============*/

/*============= CAROUSEL =============*/

.carousel-inner{
  max-height: 40rem!important;
}

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: transform 1.2s ease;
}
.carousel-indicators li{
  width: 40px;
  height: 6px;
  margin-right: 4px;
  margin-left: 4px,
  
}

/*-- Carousel Content --*/

.carousel-caption{
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
}

.bg-dark{
  background-color: rgba(0, 0, 0, .7)!important;
  border-radius: 1.5rem;
  padding: 1rem;
}

.bg-white{
  background-color: rgba(255, 255, 255, 0.308)!important;
  border-radius: 1.5rem;
  padding: 1rem;
}

.carousel-caption h3{
  font-size: 2.3rem;
  font-weight: 400;
}

p.lead{
  font-size: 1.4rem;
}

/*============ Target first two column section class font size ===========*/
h1.font-weight-bold{
  font-size: 4.0rem;
}


/*============= SOCIAL MEDIA STICKY BAR =============*/

.jumbotron {
  background: linear-gradient(to right, #f2f2f2, #FBFBFB);
  padding: .5rem 0 .5rem;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 1rem 1rem rgba(10, 0, 0, 0.1);
}
ul.social{
  list-style-type: none;
  display: flex; 
  padding: 0;
  margin: 0 auto; 
}
ul.social li{
  margin: 0 auto;
}
.jumbotron .svg-inline--fa{
  font-size: 2rem;
  margin: 0 1rem;
}
.jumbotron .svg-inline--fa:hover{
  color: gray!important;
}

/*============= COLUMN CONTENT =============*/

.fa-square{
  opacity: .05;
}

/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  padding: 12rem 0;
  border-top: .05rem solid black;
  border-bottom: .05rem solid black;
  margin-bottom: 2px;
  height: 100vh; /*-- remove --*/
}
.fixed {
  background-image: url('../img/nature-plant.jpg');
  position: fixed;
}


/*============= FOOTER =============*/

footer{
  background-color: #383838;
  padding: 1rem 2rem 3rem;
}
footer img{
  height: 3.5rem;
  margin: 1.5rem auto;
}

footer a,
.socket a {
  color: white;
  text-decoration: none;
}

footer a:hover,
.socket a:hover{
  color: white;
  text-decoration: none;
}

/*============= SOCKET =============*/

.socket{
  background-color: #222222;
  border-top: .1rem solid grey;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
.carousel-caption h3{
  font-size: 1.8rem;
}
}
/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
  p.lead{
    font-size: 1.2rem;
  }
  .carousel-indicators li{
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px,
  }
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  p.lead{
    font-size: 1.1rem;
  }

  .navbar-brand img{
    height: 2.5rem;
  }
  .navbar{
    font-size: 1rem;
    padding: .4rem .6rem;
  }
  .navbar-toggler{
    transform: scale(.9);
  }
  .jumbotron .svg-inline--fa{
    font-size: 1.6rem;
    margin: 0 .8rem;
  }
}
/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  
  .navbar-brand img{
    height: 2.3rem;
  }

  .navbar{
    font-size: .9rem;
    padding: .3rem .6rem;
  }

  .navbar-toggler{
    transform: scale(.7);
  }

  .jumbotron .svg-inline--fa{
    font-size: 1.4rem;
    margin: 0 .5rem;
  }

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*====== LOGIN PAGE =====*/

div.main{
  background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
box-sizing: border-box;
  margin:0px auto;

&:before,
&:after {
  box-sizing: border-box;
}

}

body {
 
  color: #606468;
font: 87.5%/1.5em 'Open Sans', sans-serif;
margin: 0;
}

a {
color: #eee;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

input {
border: none;
font-family: 'Open Sans', Arial, sans-serif;
font-size: 14px;
line-height: 1.5em;
padding: 0;
-webkit-appearance: none;
}

p {
line-height: 1.5em;
}

.clearfix {
*zoom: 1;

&:before,
&:after {
  content: ' ';
  display: table;
}

&:after {
  clear: both;
}

}

.container {
left: 50%;
position: fixed;
top: 50%;
transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
width: 250px;
}

#login, .logo{
  display:inline-block;
  width:40%;
}
#login{
border-right:1px solid #fff;
padding: 0px 22px;
width: 59%;
}
.logo{
color:#fff;
font-size:50px;
line-height: 125px;
}

#login form span.fa {
background-color: #fff;
border-radius: 3px 0px 0px 3px;
color: #000;
display: block;
float: left;
height: 50px;
  font-size:24px;
line-height: 50px;
text-align: center;
width: 50px;
}

#login form input {
height: 50px;
}
fieldset{
  padding:0;
  border:0;
  margin: 0;

}
#login form input[type="text"], input[type="password"] {
background-color: #fff;
border-radius: 0px 3px 3px 0px;
color: #000;
margin-bottom: 1em;
padding: 0 16px;
width: 200px;
}

#login form input[type="submit"] {
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background-color: #000000;
color: #eee;
font-weight: bold;
/* margin-bottom: 2em; */
text-transform: uppercase;
padding: 5px 10px;
height: 30px;
}

#login form input[type="submit"]:hover {
background-color: #d44179;
}

#login > p {
text-align: center;
}

#login > p span {
padding-left: 5px;
}
.middle {
display: flex;
width: 600px;
}
/* Devices under 1199px (xl) */
@media screen and (max-width: 768px)
{
  Section .container
  {grid-template-columns: 1fr;
    max-width: 400px;}
  Section .container.logo
  {display: none;}
}
/*====== REGISTER PAGE =====*/
.form-group_r {
	margin-bottom: 25px;
}
.form-group_r input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	padding-left: 54px;
}
.form-group_r:before {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f1fa";
	position: absolute;
	left: 28px;
	font-size: 22px;
	padding-top: 4px;
	color: #556057;
}

.form-group_r:nth-last-of-type(5):before{
  content: "\f007";
}
.form-group_r:nth-last-of-type(4):before{
  content: "\f007";
}
.form-group_r:nth-last-of-type(3):before{
  content: "\f1fa";
}
.form-group_r:nth-last-of-type(2):before{
  content: "\f023";
}
.form-group_r:nth-last-of-type(1):before{
  content: "\f023";
}

button.btn btn-default {
	width: 40%;
	margin: 5px 0 25px;
}
button.btn btn-default {
	background-color: #33698f;
	color: white;
	font-size: 19px;
	font-weight: 600;
	border: 2px solid white;
	padding: 7px 14px;
}
.btn btn-default:hover {
	background-color: #e1e7ec;
	color: white;
}
.forgot {
	padding: 5px 0 25px;
}
.forgot a {
	color: white;
}
/*====== END REGISTER PAGE =====*/

.dropdown-menu ul li{
	display: block;
}
.dropdown-menu ul{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   float: left;
}

/*==== SEARCH RESULTS PAGE =====*/


  .btn {
      margin-bottom: 4px;
  }
  
  .grid {
      position: relative;
      width: 100%;
      background: #fff;
      color: #666666;
      border-radius: 2px;
      margin-bottom: 25px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grid .grid-body {
      padding: 15px 20px 15px 20px;
      font-size: 0.9em;
      line-height: 1.9em;
  }
  
  .search table tr td.rate {
      color: #f39c12;
      line-height: 50px;
  }
  
  .search table tr:hover {
      cursor: pointer;
  }
  
  .search table tr td.image {
    width: 50px;
  }
  
  .search table tr td img {
    width: 50px;
    height: 50px;
  }
  
  .search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
  }
  
  .search table tr td.price {
    font-size: 1.5em;
    line-height: 50px;
  }
  
  .search #price1,
  .search #price2 {
    display: inline;
    font-weight: 600;
  }


/*==== END SEARCH RESULTS PAGE =====*/


 
